<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>GoodShift needs your location to help you pinpoint the exact job site on the map.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>GoodShift needs calendar access to save your accepted job schedule.</string>
</dict>
</plist>
